/*******************************************************
 *
 * Additional styling
 *
 *******************************************************/

div.mx-name-containerSelectedItem[cssselectorhelper="true"] {
    button.mx-name-actionButtonSaveItem {
        border-color: $brand-success;
        background-color: $brand-success;
        color: $brand-success;
    }
}

.TreeViewWidget.CustomStyling {

    .LazyloadExpandableCustom {
        padding-left: 16px;
        margin-left: -14px;
        background: url(/widgets/BootstrapTreeViewWidget/widget/ui/images/expand-chevron-small.png) no-repeat 0px 5px;
    }

    .ExpandedNodeCustom {
        background: url(/widgets/BootstrapTreeViewWidget/widget/ui/images/collapse-chevron-small.png) no-repeat 0px 5px;
    }
    .CollapsedNodeCustom {
        background: url(/widgets/BootstrapTreeViewWidget/widget/ui/images/expand-chevron-small.png) no-repeat 0px 5px;
    }
}
